<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Medical Documents - {{ patient.username }}</title>
    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <h1 class="text-center mb-4">
        Medical Documents for
        <span class="text-primary">{{ patient.username }}</span>
      </h1>

      {% if documents %}
      <ul class="list-group">
        {% for doc in documents %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <a href="{{ doc.document.url }}" class="text-decoration-none" style="width: 300px">
            📄 {{ doc.document.name }}
          </a>

          <!-- Added for displaying document severity level -->
          <h2 class="text-muted" style="border-radius: 50%; background-color: green; padding:0.7%"><b>{{ doc.document_severity }}</b></h2> &nbsp;
          &nbsp;
          &nbsp;
          <!-- Added for displaying document summary -->
          <!-- <span class="text-muted small">📝{{ doc.document_summary }}</span> -->
          <div class="popup" onclick="myFunction()">Summary
            <span class="popuptext" id="myPopup">{{doc.document_summary}}</span>
          </div>
          &nbsp;&nbsp;

          <span class="badge bg-secondary"
            > ✏️{{ doc.uploaded_at }}</span
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-center text-muted">
        No documents available for this patient.
      </p>
      {% endif %}

      <!-- Navigation Links -->
      <div class="text-center mt-4">
        <a href="{% url 'doctor_dashboard' %}" class="btn btn-secondary me-2"
          >Back to Dashboard</a
        >
        <!-- for summarization -->
        <a href="{% url 'doctor_dashboard' %}" class="btn btn-secondary me-2"
          >Summarize Documents</a
        >
        <br /><br />
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
      </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
