<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Documents for {{ patient.username }}</title>
    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4">
          📂 Documents for
          <span class="text-primary">{{ patient.username }}</span>
        </h2>

        {% if documents %}
        <ul class="list-group">
          {% for doc in documents %}
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >

 
            <a href="{{ doc.document.url }}" class="text-decoration-none" >
              {{ doc.document.name }}
            </a>
            <!-- Added for displaying document severity level -->
            <h2 class="text-muted" style="border-radius: 50%; background-color: green; padding:0.7%"><b>{{ doc.document_severity }}</b></h2> &nbsp;
            &nbsp;
            &nbsp;
            <!-- Added for displaying document summary -->
            <span class="text-muted small">📝{{ doc.document_summary }}</span> 
            <span class="text-muted small">🕒 {{ doc.uploaded_at }}</span>
            <form method="POST" onsubmit="return confirm('Are you sure?')">
              {% csrf_token %}
              <input type="hidden" name="doc_id" value="{{ doc.id }}" />
              <button type="submit" class="btn btn-danger btn-sm">
                🗑 Delete
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="text-center text-muted">No documents available.</p>
        {% endif %}

        <div class="text-center mt-3">
          <a href="{% url 'hospital_dashboard' %}" class="btn btn-secondary"
            >🔙 Back to Dashboard</a
          >
        </div>

        <!-- new for summary -->
        <div class="text-center mt-3">
          <a href="{% url 'hospital_dashboard' %}" class="btn btn-secondary"
            >View Summary</a
          >
        </div>
      </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
